$background: #020E2E;
$dark_background: #01091D;

$hover_color: rgba(255,255,255,.2);

$default_button_color: rgba(0, 119, 229, 1);
$default_button_color_hover: rgba(4, 101, 192, 1);
$disabled_button_color: rgba(66, 68, 76, 1);

$text_color_disabled: rgba(130, 132, 140, 1);

$color_scroll_thumb: dimgray;
