@import "../../../styles/colors";

.root {
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 30px;
  padding: 10px;

  .main {
    display: flex;
    align-items: center;

  }

  &:hover {
    cursor: pointer;
    background-color: $hover_color;
  }
}


